<div class="cta1-section-area sp4">
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="cta-header heading2">
                    <h2 class="tg-element-title">¿Tienes dudas sobre nuestros cursos?</h2>
                    <p data-aos="fade-up" data-aos-duration="800">Chatea con nuestro asistente virtual disponible las 24 horas. Resuelve tus dudas sobre cursos, inscripciones y requisitos al instante, sin esperas.</p>
                    <div class="cta-chat-btns" data-aos="fade-up" data-aos-duration="1000">
                        <a [href]="waUrl" target="_blank" rel="noopener" class="header-btn1">
                            <i class="fa-brands fa-whatsapp"></i> Hablar con el chatbot
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-1"></div>
            <div class="col-lg-5">
                <div class="cta-images">
                    <div class="img1">
                        <img src="assets/img/all-images/section-cenefco.png" alt="" class="cta-logo-pulse">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
